:root {
    --header-height: 72px;
}

.header {
    backdrop-filter: blur(12px);
    background-color: #00000070 !important;
}

.shadow-none{
    text-shadow: none !important;
}

.full-height {
    min-height: calc(100vh - var(--header-height));
}

.nav-link {
    color: white !important;
}

.nav-link:hover, .nav-link.active{
    color: #46FFBDFF !important;
}

body {
    background-color: #fafafa;
    font-family: 'Nunito', sans-serif;
}

.bg {
    background-image: url(/img/home.jpg);
    background-size: cover;
}

.fullContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.cardRadius {
    border-radius: 10px 10px 10px 10px;
    background: #ffffffe3;
    width: 90%;
    max-width: 450px;
    padding: 10px;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

.member {
    list-style-type: none;
    font-size: 2em;
    text-align: left;
}

.documentation {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--header-height));
    flex-direction: column;
}
